body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #05070d;
    color: white;
}

header {
    text-align: center;
}

header h1{
    margin:0;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.name{
    font-size:2.2rem;
    font-weight:300;
    letter-spacing:3px;
}

.astro{
    margin-top:10px;
    font-size:3rem;
    font-weight:700;
    letter-spacing:10px;
}

header p {
    margin-top: 8px;
    color: #cccccc;
    font-size: 1.1em;
}

nav{
    margin-top:20px;
    display:flex;
    justify-content:center;
    gap:30px;
    flex-wrap:wrap;
}

.hero{
    height:100vh;
    background-image: url("images/eagle-nebula-m16-hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow:hidden;

    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
}

.overlay{
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.20);

    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    padding-top:50vh;
    align-items:center;
}

.subtitle{
    color:#cccccc;
    font-size:1.4em;
    margin-bottom:25px;
}

.language{
    display:flex;
    justify-content:center;
    gap:15px;
    margin-bottom:25px;
}

.lang-btn{
    background:none;
    cursor:pointer;
    font-size:1rem;
    color:white;
    text-decoration:none;
    font-weight:bold;
    padding:8px 18px;
    border:2px solid rgba(255,255,255,0.35);
    border-radius:25px;
    transition:0.3s;
}

.lang-btn:hover{
    border-color:#5bbcff;
    color:#5bbcff;
    transform:translateY(-2px);
}

.lang-btn.active{
    background:#5bbcff;
    border-color:#5bbcff;
    color:#111;
}

nav a{
    color:white;
    text-decoration:none;
    font-weight:bold;
    font-size:1.1em;
    transition:0.3s;
}

nav a:hover{
    color:#5bbcff;
    transform:scale(1.08);
}

#gallery{
    margin-top:60px;
    text-align:center;
}

.featured-image{
    width:90%;
    max-width:1000px;
    border-radius:12px;
    box-shadow:0 0 25px rgba(0,0,0,0.5);
    margin:30px auto;
    display:block;
}
main{
    margin-top:-200px;
    padding:40px;
    text-align:center;
}

hr{
    margin:40px auto;
    width:80%;
    border:0;
    border-top:1px solid rgba(255,255,255,0.15);
}
section{
    max-width:1100px;
    margin:80px auto;
    padding:20px;
}

section h2{
    font-size:2rem;
    margin-bottom:20px;
    color:#5bbcff;
}

section p{
    font-size:1.1rem;
    line-height:1.8;
    color:#dddddd;
}

html{
    scroll-behavior:smooth;
}

.gallery-grid{

    column-count:3;
    column-gap:22px;
    margin-top:50px;

}

/* ==========================
   Gallery Navigation
========================== */

.gallery-subtitle{
    text-align:center;
    color:#c8c8c8;
    font-size:0.95rem;
    font-style:italic;
    margin-top:-5px;
    margin-bottom:18px;
}

.gallery-navigation{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:90px;
    width:100%;
    margin:10px auto 30px auto;
}

.gallery-navigation a{
    color:white;
    text-decoration:none;
    font-weight:600;
    transition:0.3s;
}

.gallery-navigation a:hover{
    color:#5bbcff;
}

.gallery-grid a{
    display:inline-block;
    width:100%;
    margin-bottom:22px;
    text-decoration:none;
    color:white;
    transition:.35s;
    break-inside:avoid;
}

.gallery-grid a:hover{
    transform:translateY(-6px);
}

.gallery-grid img{
    width:100%;
    height:auto;
    display:block;
    border-radius:10px;
    box-shadow:0 0 18px rgba(0,0,0,.45);
}

.gallery-grid h3{
    margin:10px 0 0 0;
    text-align:center;
    font-size:.95rem;
    letter-spacing:1px;
}

/* ===== LANGUAGE ===== */

.lang-en{
    display:none;
}

.lang-it,
.lang-en{
    animation:fade .25s ease;
}

@keyframes fade{
    from{
        opacity:0;
    }
    to{
        opacity:1;
    }
}

@media (max-width:1100px){

    .gallery-grid{

        column-count:2;

    }

}

@media (max-width:700px){

    .gallery-grid{

        column-count:1;

    }

}

/* ===========================
   OBJECT PAGES
=========================== */

.object-hero{

    text-align:center;

    margin:15px auto 60px auto;

}

.hero-image{

    width:100%;

    max-width:1200px;

    display:block;

    margin:30px auto;

    border-radius:12px;

    box-shadow:0 0 25px rgba(0,0,0,.45);

}

.object-map{

    width:100%;

    max-width:900px;

    display:block;

    margin:35px auto;

    border-radius:10px;

    box-shadow:0 0 20px rgba(0,0,0,.35);

}

table{

    width:100%;

    max-width:850px;

    margin:35px auto;

    border-collapse:collapse;

}

table td{

    padding:14px;

    border-bottom:1px solid rgba(255,255,255,.12);

}

table td:first-child{

    color:#5bbcff;

    font-weight:bold;

    width:35%;

}

ul{

    max-width:900px;

    margin:auto;

    line-height:2;

}

/* ==========================
   SMARTPHONE
========================== */

@media (max-width: 768px) {

    .hero{
        height:90vh;
    }

    .overlay{
        padding-top:40vh;
    }

    main{
        padding:40px;
    }

    .name{
        font-size:1.6rem;
        letter-spacing:2px;
        margin-top:-20px;
    }

    .astro{
        font-size:1.7rem;
        letter-spacing:3px;
        line-height:1.1;
        margin-top:0px;
    }

    .subtitle{
        font-size:1rem;
        padding:0 10px;
    }

    nav{
        gap:15px;
        margin-top:-20px;
    }

    nav a{
        font-size:1rem;
    }

    section{
        margin:40px auto;
        padding:10px;
    }

    section h2{
        font-size:1.6rem;
    }

    section p{
        font-size:1rem;
    }

    /* Home */

   main h2{
        font-size:1.4rem;
        margin-bottom:10px;
        position: relative;
        top: -100px;
        }

    main p{
        font-size:0.9rem;
        line-height:1.5;
        max-width:90%;
        margin-top:5px;
        margin-left:auto;
        margin-right:auto;
        position: relative;
        top: -50px;
    }

    .gallery-navigation{
        gap:22px;
        font-size:0.95rem;
        margin-bottom:25px;
    }

    .gallery-subtitle{
        font-size:0.85rem;
        padding:0 10px;
    }

    .gallery-grid{
        grid-template-columns:1fr;
        gap:25px;
    }

    .hero-image,
    .featured-image,
    .object-map{
        width:100%;
        height:auto;
    }

    table{
        font-size:0.9rem;
    }

    table td{
        padding:10px;
    }

}

/* ==========================
   OBJECT NAVIGATION
========================== */

.object-navigation{

    display:flex;
    justify-content:flex-end;
    align-items:center;
    gap:30px;
    margin:60px auto 40px auto;
    text-align:center;

}

.object-navigation a{

    color:white;
    text-decoration:none;
    font-weight:bold;
    transition:.3s;

}

.object-navigation a:hover{

    color:#5bbcff;

}

.top-navigation{

    margin:20px auto 30px auto;

}

.top-bar{
    max-width:1200px;
    margin:25px auto 10px auto;
    padding:0 20px;

    display:grid;
    grid-template-columns:1fr 1fr 1fr;
    align-items:center;
}

.language-switch{
    display:flex;
    gap:10px;
    justify-content:flex-start;
}

.top-bar .object-navigation{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:50px;
}


/* ===== Mobile top bar ===== */
@media (max-width:768px){
    .top-bar{
        flex-direction:column;
        justify-content:center;
        align-items:center;
        gap:4px;
    }

    .language-switch{
        display:flex;
        justify-content:center;
        gap:10px;
        margin-bottom:4px;
    }

    .top-bar .object-navigation{
        display:flex;
        justify-content:center;
        align-items:center;
        gap:28px;
        flex-wrap:nowrap;
        width:100%;
        margin:0;
        font-size:0.90rem;
    }

    .object-hero{
        margin-top:0;
    }

    .object-hero p{
        margin:6px 0;
    }
}

/* ==========================
   WORKFLOW PAGE
========================== */

.thumb-image{
    display:block;
    width:420px;
    max-width:90%;
    height:auto;
    margin:30px auto;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,.45);
}

@media (max-width:768px){

    .thumb-image{
        width:220px;
        max-width:70%;
    }

}

/* ==========================
   WORKFLOW COVER
========================== */

.workflow-cover{
    text-align:center;
}

.workflow-cover-link{
    display:block;
    width:420px;
    max-width:80%;
    margin:25px auto;
}

.workflow-hero{
    display:block;
    width:100%;
    height:auto;
    border-radius:10px;
    box-shadow:0 0 20px rgba(0,0,0,.45);
    transition:.3s;
}

.workflow-cover-link:hover .workflow-hero{
    transform:translateY(-5px);
}


/* ==========================
   WORKFLOW COVER - MOBILE
========================== */

@media (max-width:768px){

    .workflow-cover-link{
        width:180px;
        max-width:50%;
        margin:20px auto;
    }

}