<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">

<meta name="viewport" content="width=device-width, initial-scale=1.0">


<title>M16 Eagle Nebula - Astrophotography by Mario Papotti</title>


<meta name="description" content="M16 Eagle Nebula astrophotography by Mario Papotti. Messier 16, NGC 6611, Pillars of Creation captured from Italy.">


<meta name="keywords" content="
M16,
M 16,
Messier 16,
Eagle Nebula,
Star Queen Nebula,
NGC 6611,
Emission Nebula,
H II Region,
Serpens,
Pillars of Creation,
Nebulosa Aquila,
Nebulosa Regina delle Stelle
">


<link rel="stylesheet" href="style.css">

</head>


<body>


<a href="index.html">
← Back to Gallery
</a>


<section class="object-hero">

<h1>
M16 – Eagle Nebula
</h1>


<p>
Messier 16 • NGC 6611 • Serpens
</p>


<img src="images/m16-hero.jpg"
alt="M16 Eagle Nebula Messier 16 NGC 6611 Pillars of Creation"
class="hero-image">


</section>



</body>

</html>